.auth-gradient {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.auth-image {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0%;
  right: 43%;
}

.auth-field {
  display: flex;
  justify-content: flex-end;
  margin-top: 8em;
  text-align: end;
}

.auth-form {
  width: 28%;

  input[type='text'],
  textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}
